@mixin borderRadius($pixels) {
  -webkit-border-radius: $pixels;
  -moz-border-radius: $pixels;
  -ms-border-radius: $pixels;
  border-radius: $pixels;
}

// 15 degrees equates to 360 / 24 (the amount of hours in the day)
@mixin rotate($index) {
  transform: rotate($index * 15deg);
}

@mixin transitionDelay($milliseconds) {
  -webkit-transition-delay: $milliseconds;
  -moz-transition-delay: $milliseconds;
  -ms-transition-delay: $milliseconds;
  transition-delay: $milliseconds;
}