@mixin borderRadius($pixels) {
  -webkit-border-radius: $pixels;
  -moz-border-radius: $pixels;
  -ms-border-radius: $pixels;
  border-radius: $pixels;
}

// 15 degrees equates to 360 / 24 (the amount of hours in the day)
@mixin rotate($index) {
  transform: rotate($index * 15deg);
}

@mixin transitionDelay($milliseconds) {
  -webkit-transition-delay: $milliseconds;
  -moz-transition-delay: $milliseconds;
  -ms-transition-delay: $milliseconds;
  transition-delay: $milliseconds;
}

@mixin transition() {
  -webkit-animation: fadeIn 500ms 1;
  -moz-animation: fadeIn 500ms 1;
  -ms-animation: fadeIn 500ms 1;
  animation: fadeIn 500ms 1;
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.5; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.5; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.5; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.5; }
}