$white: #ffffff;
$grey: #cccccc;

$blue: #2f358f; // 0 -5
$light-blue: #0a56a2; // 6 - 10
$light-green: #1aa79d; // 11 - 15
$green: #17a456; // 16 - 20
$yellow: #fef036; // 21 - 25
$light-orange: #fec42e; // 26 - 30
$orange: #fd9326; // 31 - 35
$dark-orange: #f16631; // 36 - 40
$red: #eb212f; // 41 - 50

$pi: 3.14159;

// dimensions
$circle-diameter: 80vh;
$segment-width: $circle-diameter / 2; // half the circle
// $segment-height: ceil(($circle-diameter * $pi) / 8); // circumference is full width of circle (diameter) * PI
$segment-height: 40vh;