$white: #ffffff;
$grey: #cccccc;
$blue: blue;

$pi: 3.14159;

// dimensions
$circle-diameter: 80vh;
$segment-width: $circle-diameter / 2; //half the circle
$segment-height: ceil(($circle-diameter * $pi) / 24); // circumference is full width of circle (diameter) * PI